.line1 {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}
.line2 {
	fill: none;
	stroke: red;
	stroke-width: 2px;
}
.line3 {
	fill: none;
	stroke: green;
	stroke-width: 2px;
}
.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}
.grid path {
	stroke-width: 0;
}